.hstack-acenter-jcenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hstack-acenter-jbetween {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}